.box {
	margin-top: 2%;
	padding: 1.5% 2%;
	border: 1px solid #ccc;
	border-radius: 5px;
}

label {
	text-align: right;
	font-weight: bold;
	vertical-align: middle;
}

.icon i {
	font-weight: bold;
	padding-top: 10px;
	cursor: pointer;
}
