<div class="card col-sm-6 offset-md-3 mt-5">
    <h4 class="card-header">Home</h4>
    <div class="card-body row">
        <div class="mx-4 col">
            <h4 class="mr-5">Student</h4>
            <br>
            <h4 class="mr-5">Course</h4>
        </div>

        <div class="mx-4 col">
            <div>
                <a href="" routerLink="../student/add" class="btn btn-link">Add</a>
                <a href="" routerLink="../student/update" class="btn btn-link">Update</a>
                <a href="" routerLink="../student/delete" class="btn btn-link">Delete</a>
            </div>
            <br>
            <div>
                <a href="" routerLink="../login" class="btn btn-link">Add</a>
                <a href="" routerLink="../login" class="btn btn-link">Update</a>
                <a href="" routerLink="../login" class="btn btn-link">Delete</a>
            </div>
        </div>
    </div>
</div>